@use "sass:color";
@use "../Global CSS/theme" as theme;
@use "../Global CSS/fonts" as fonts;

* {
  box-sizing: border-box;
}

html {
  background: url(../images/rioj.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 5%;
  border: 10px solid theme.$color-accent1;
}

body {
  font-family: fonts.$font-body !important;
  font-size: 85%;
  color: theme.$color-text-dark;
  margin: 0;
  padding: 1em;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  z-index: 1;
  backdrop-filter: blur(6px);
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (max-width: 600px) {
    display: flex;
    width: 100%;
  }

  > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (max-width: 600px) {
      display: flex;
      width: 100%;
      flex-direction: column;
    }
  }

  .container,
  #about {
    grid-column: 1/3;
  }

  #about .container:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    position: relative;

    h2 {
      display: flex;
      grid-column: 1/4;
      justify-self: center;
    }

    p {
      grid-column: 2/3;
    }

    ul {
      display: flex;
      grid-column: 2/3;
      justify-self: center;
      flex-direction: column;

      li {
        font-size: 20px;
      }
    }
  }
}

// Headings
h2 {
  font-family: fonts.$font-headlines !important;
  color: theme.$color-text-dark;
  font-weight: 900;
  font-size: 4em;
  letter-spacing: 1px;
  line-height: 1em;
}

h3,
h4 {
  font-family: fonts.$font-headlines !important;
  font-weight: 200;
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;

  &.h3Tag {
    font-size: 1.5em;
  }
}

h3 {
  font-size: 2.25em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: 1.5em;
}

// Paragraphs
p {
  font-family: fonts.$font-body;
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 0.5em 0;
  margin: 0;

  &.uppercase {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: theme.$color-accent3;
  }

  &.uppercase-light {
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: theme.$color-accent1;
    color: theme.$color-accent3;
  }
}

// Sections with transparent background
section {
  background-color: transparent;
  padding: 1em;
  margin: 1em;
  z-index: 2;

  &.colors {
    display: flex;
    flex-wrap: wrap;

    > h3 {
      flex: 1 0 100%;
    }

    > figure {
      margin: 0;
      flex: 1 1 25%;

      .swatch {
        width: 100%;
        height: 100px;
        border: 1px solid;

        &.accent1 {
          background-color: theme.$color-accent1;
        }

        &.accent2 {
          background-color: theme.$color-accent2;
        }

        &.accent3 {
          background-color: theme.$color-accent3;
        }

        &.accent4 {
          background-color: theme.$color-accent4;
        }

        &.text-dark {
          background-color: theme.$color-text-dark;
        }
      }
    }
  }

  &.elements {
    .element {
      border: 1px solid;
      margin: 0.5em;
      padding: 1em;

      &.accent1 {
        background-color: theme.$color-accent1;

        h4 {
          color: theme.$color-accent3;
        }
      }

      &.accent3 {
        background-color: color.adjust(theme.$color-accent3, $lightness: 30%);

        h4 {
          color: theme.$color-accent3;
        }
      }
    }
  }
}
