@use "sass:color";
@use "../Global CSS/theme" as theme;

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: theme.$color-text-dark;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;

  &:hover {
    border-color: theme.$color-accent2;
  }
}
