@use "../Global CSS/theme" as theme;
@use "../Global CSS/fonts" as fonts;

@keyframes rainbow-background {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

// Centering the h1 with the new border effect
h1 {
  font-family: fonts.$font-headlines !important;
  background: theme.$color-accent1;
  text-transform: uppercase;
  color: theme.$color-accent3;
  font-weight: normal;
  font-size: 6em;
  padding: 0.5em 1em;
  margin: 1em auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  position: relative;
  border-radius: 25px;
  transition: border 0.3s ease-in-out;

  @media (max-width: 600px) {
    margin: 40px auto;
    font-size: 2em;
  }
}

h1::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  border-radius: 30px;
  border: 15px solid transparent;
  background: linear-gradient(
    45deg,
    theme.$color-accent2,
    theme.$color-accent3,
    theme.$color-accent4
  ); 
  background-size: 400% 400%;
  z-index: -1;
  animation: rainbow-border 2s linear infinite;
}

@keyframes rainbow-border {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

header .container {
  h2 {
    @media (max-width: 600px) {
      font-size: 2.5em;
    }
  }

  p {
    @media (max-width: 600px) {
      font-size: 1em;
    }
  }
}
