nav {
  background-color: $color-accent1;
  padding: 1em 2em;
  margin-top: 120px;
  z-index: 10;

  @media (max-width: 600px) {
    margin: 40px auto;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    @media (max-width: 600px) {
      flex-direction: column;
      width: 100%;
    }
  }

  li {
    margin: 0 1.5em;
    position: relative;

    @media (max-width: 600px) {
      margin: 20px 0px;
      font-size: 0.9em;
    }

    a {
      font-family: $font-headlines;
      color: white;
      font-size: 1.2em;
      text-decoration: none;
      text-transform: uppercase;
      padding: 0.5em;
      border-radius: 5px;
      position: relative;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

      // Underline effect (border) during hover
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: $color-accent2;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
      }

      // Rainbow background effect on hover
      &:hover {
        background: linear-gradient(
          45deg,
          green,
          yellow,
          blue,
          white
        ); /* Brazilian flag colors */
        background-size: 400% 400%;
        animation: rainbow-background 2s linear infinite; /* Continuous rainbow background */
        color: lighten($color-accent2, 10%); // Text color change on hover

        // Trigger the border underline animation on hover
        &:before {
          transform: scaleX(1);
          transform-origin: bottom left;
        }
      }
    }
  }
}
