// Sunflare
@font-face {
  font-family: Sunflare;
  src: url("fonts/Sunflare.ttf") format('truetype');
  src: url("fonts/Sunflare.otf") format('opentype');
  src: url("fonts/Sunflare.woff") format('woff');
}

// Quicksand
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

// Fonts
$font-body: "Quicksand", sans-serif;
$font-headlines: "Sunflare", sans-serif;

h1,
h2,
h3 {
  font-family: $font-headlines;
}

p,
li {
  font-family: $font-body;
}
