// Roboto Condensed
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

// Dancing Script
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

// Fonts
$font-body: "Lato", sans-serif;
$font-headlines: "Satisfy", cursive;

h1,
h2,
h3,
h3 {
  font-family: $font-headlines;
}

p,
li {
  font-family: $font-body;
}
