// $header-font: "Dancing Script";
// $body-font: "Roboto Condensed";

// Colors
$color-accent1: #06677d;
$color-accent2: #a5cff8;
$color-accent3: #c4631e;
$color-accent4: #123700;
$color-text-dark: #16120d;
